{% extends "SymfonyUserBundle::page_layout.html.twig" %}

{% block sf_content_main %}

{% trans_default_domain 'FOSUserBundle' %}
<style>
    .content {
        background: none repeat scroll 0 0 #EEEEEE;
        border-radius: 10px;
        border-top: 1px solid #DADADA;
        margin: 74px auto;
        padding-top: 10px;
        width: 782px;
    }
    .content-head {
        font-size: 1px;
        height: 8px;
        width: 782px;
    }
    .img {
        background: url("http://st2.dbank.com/netdisk/images/newdisk/resetpassword-btn.png?v=343309") no-repeat #fff;
    }
    .content-body {
        background: url("http://st2.dbank.com/netdisk/images/newdisk/resetpassword-body.png?v=343309") repeat-y;
        padding: 30px 0 50px;
        width: 782px;
    }
    .form {
        height: 100px;
        margin: 40px 0;
        position: relative;
        z-index:100;
    }
    .form .line7 {
        font-size: 16px;
        width: 55%;
        margin: 0 auto;
    }
    .line7 i{
        background: url("/bundles/symforceweb/images/emailico.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 0 none;
        border-radius: 30px;
        height: 63px;
        margin-top: 20px;
        width: 60px;
    }
    .line7 .set-success {
        background-position: -661px -55px;
        display: inline-block;
        height: 44px;
        vertical-align: bottom;
        width: 47px;
    }

    .content-foot {
        background-position: -1px -12px;
        height: 38px;
        width: 782px;
    }

    .red{
        color: red;
    }

</style>
<div class="content">
    {#<div class="btn content-head"></div>#}
    <div class="content-body">
        <div class="form">
            <div id="resetSuccess_box" style="display: block;">

                <div class="line7">
                    <i class="col-sf-4"></i>
                    <div class="col-sf-19" style="margin-left:5%">
                        <center>
                            <p style="line-height: 35px;">
                            {% if user %}
                                {{user.username}}， 您好，系统已向您的邮箱<span class="red">{{user.email}}</span>
                                发送了一封包含激活链接的邮件，您想在可以访问该链接以启用你的帐户。
                            {% else %}
                                {{ 'user.registration.page_expired'|trans({'%email%': user}, admin.domain) }}
                            {% endif %}
                            </p>
                        </center>
                    </div>
                </div>

                {#<center class="line7">
                    <span class="img set-success"></span>
                    <p>
                    {% if user %}
                        {{ 'registration.check_email'| trans({'%email%': user.email}) }}
                    {% else %}
                        {{ 'user.registration.page_expired'|trans({'%email%': user}, admin.domain) }}
                    {% endif %}
                    </p>
                </center>#}
            </div>
        </div>
    </div>
    <div class="img content-foot"></div>
</div>
{% endblock %}
